@import "footer";
@import "servicios";
@import "home";
@import "trabajos";
@import "sobreMi";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;   
}

hr{
    clear: left;
    color: rgb(82, 0, 82);
}

@media only screen and (min-width: 992px){

    h1{
        color: rgb(77, 188, 216);
        font-size: 120px !important;
        padding-top: 10px;
        text-align: center;
        font-family: 'Sacramento', cursive;
    }

    h3{
        color: rgb(149, 108, 187);
        font-size: medium;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 30px;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and ( min-width: 600px){

    h1{
        color: rgb(77, 188, 216);
        font-size:80px !important;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Sacramento', cursive;
    }

    h3{
        color: rgb(149, 108, 187);
        font-size: medium;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 30px;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and ( max-width:600px){

    h1{
        color: rgb(77, 188, 216);
        font-size:60px !important;
        text-align: center;
        font-family: 'Sacramento', cursive;
    }

    h3{
        color: rgb(149, 108, 187);
        font-size: small;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 30px;
        text-align: center;
        font-weight: bold;
    }
}





form{    
    margin: 70px;
    padding: 30px;
    padding-bottom: 50px;
}